//////////////////////////////////////////////////////////////////////////////
//
//  Version information for trcbld.rc.
//
//  Microsoft Research Detours Package
//
//  Copyright (c) Microsoft Corporation.  All rights reserved.
//

#include <detver.h>

#define VER_INTERNALNAME_STR        "payload"
#define VER_ORIGINALFILENAME_STR    "payload.dll"
#define VER_FILEDESCRIPTION_STR     "Build Tools"
#define VER_COMPANYNAME_STR         "Felix Kugler"

#include "common.ver"
